{
    "extends":["react-app","react-app/jest"],
    "overrides":[
        {
            "files":["**/*.stories.*"],
            "rules":{
                "import/no-anonymous-default-export":"off"
            }
        }
    ],
    "rules":{
        //"quotes":[1,"double"]     //1 for error , 2 for warning
    }
}